branches:
  - ireland
  - hanoi
  - geneva
  - name: main
    prerelease: 'dev'
dryRun: false
plugins:
  - "@semantic-release/commit-analyzer"
  - - "@semantic-release/changelog"
  - - "@semantic-release/git"
    - assets:
      - CHANGELOG.md
      message: "chore(release): version ${nextRelease.version}\n\n${nextRelease.notes}"
  - "@semantic-release/github"